/*
    Dark Theme adapted from "Catppuccin Mocha".
    URL: https://catppuccin.com/palette

    Gray Color adpated from Dracula Theme.
    URL: https://draculatheme.com/contribute
*/

:root {
    --fg:      #CDD6F4;
    --bg:      #11111B;
    --surface: #313244;
    --base:    #1E1E2E;
    --red:     #F38BA8;
    --yellow:  #F9E2AF;
    --green:   #A6E3A1;
    --blue:    #89B4FA;
    --gray:    #6272A4;
}