/*
    Light Theme adapted from "Catppuccin Latte".
    URL: https://catppuccin.com/palette
    
    Gray Color adpated from Dracula Theme.
    URL: https://draculatheme.com/contribute
*/

:root {
    --fg:      #4C4F69;
    --bg:      #DCE0E8;
    --base:    #EFF1F5;
    --surface: #CCD0DA;
    --red:     #D20F39;
    --yellow:  #DF8E1D;
    --green:   #40A02B;
    --blue:    #1E66FE;
    --gray:    #6272A4;
}