/*
    Light Theme adapted from "Gruvbox Light".
    URL: https://github.com/morhetz/gruvbox
*/

:root {
    --fg:      #282828;
    --bg:      #FBF1C7;
    --base:    #EBDBB2;
    --surface: #F9F5D7;
    --red:     #CC241D;
    --yellow:  #D79921;
    --green:   #98971A;
    --blue:    #076678;
    --gray:    #928374;
}